@import "variable_overrides";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row: auto auto;
  padding-bottom: 5%;
  row-gap: 5%;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0% 7%;
}

.image {
  max-width: 100%;
}
.logo {
  display: block;
  max-width: 30%;
  height: auto;
}
